<style></style>
<div class="elementor-field-type-number elementor-field-group elementor-field-group-number_field elementor-col-100">
  <label speech-bubble pbottom aleft for="{{input_name}}" class="elementor-field-label">{{prompt}}</label>
  <div class="input-row">{{{prepend}}}
    <input type="text" name="{{input_name}}" id="{{input_name}}" class="elementor-field elementor-size-sm  elementor-field-textual" value="{{value}}" placeholder="{{placeholder_esc}}" inputmode="decimal" pattern="[0-9]*[.,]?[0-9]*" {{min_attr}}{{max_attr}}>
  {{{append}}}</div><!-- /.input-row -->
</div>