<fieldset class="row">
  <div class="">
    {{#each options}}
    <div class="form-check">
      <input class="form-check-input" type="radio" name="{{input_name_esc}}[]" id="{{slug_esc}}" value="{{term_id}}"{{{checked}}}>
      <label class="form-check-label" for="{{slug_esc}}">{{name}}</label>
    </div>
    {{/each}}
  </div>
</fieldset>