<div class="elementor-field-type-text elementor-field-group elementor-field-group-name elementor-col-100">
  <label for="{{input_name}}" class="elementor-field-label">{{placeholder}}</label>
  <input size="1" type="text" name="{{input_name}}"  aria-describedby="{{input_name}}" id="{{input_name}}" class="elementor-field elementor-size-sm  elementor-field-textual" value="{{value}}" placeholder="{{placeholder_esc}}">
</div>