<div class="elementor-field-type-checkbox elementor-field-group elementor-field-group-checkbox elementor-col-100">
  <label speech-bubble pbottom aleft for="form-field-checkbox" class="elementor-field-label" style="display: block;">{{prompt}}</label>
  <div class="elementor-field-subgroup">
    {{#each options}}
    <span class="elementor-field-option">
      <input class="elementor-field-label" type="checkbox" value="{{term_id}}" id="{{slug_esc}}" name="{{input_name_esc}}[]"{{{checked}}}> <label for="{{slug_esc}}">{{name}}</label>
      {{#if cost}}<span class="value-symbol">$</span><span class="value">{{cost}}</span>{{/if}}
    </span>
    {{/each}}
  </div>
  {{#if cost}}
  <div class="total">

  </div>
  {{/if}}
</div>