<style></style>
<div class="elementor-field-type-textarea" id="question-form-textarea">
  <label speech-bubble pbottom aleft class="" for="{{input_name_esc}}">{{prompt}}</label>
  <textarea class="" id="{{input_name_esc}}" aria-describedby="{{input_name_esc}}" type="textarea" name="{{input_name_esc}}" placeholder="" required="">{{value}}</textarea>
</div>
