<ul id="question-sidebar-menu" class="elementor-nav-menu sm-vertical">
  {{#each questions}}
  <li class="menu-item menu-item-type-post_type menu-item-object-question {{current}}">
    <a href="{{permalink}}" aria-current="page" class="elementor-item {{active}}">
      <i class="fas {{classes}}" aria-hidden="true"></i> <span>{{counter}}. {{title}}</span>
    </a>
  </li>
  {{/each}}
</ul>
<!-- li.current-menu-item -->
<!-- li.current-menu-item a.elementor-item-active -->
<!--  fa-check-circle OR fa-circle fa-regular -->