<input type="range" class="form-range" name="{{input_name}}"  aria-describedby="{{input_name}}" id="{{input_name}}" value="{{value}}" step="100" {{{min_attr}}}{{{max_attr}}}/>
<p id="range-value">{{value}}</p>