{{#if next}}
<a{{#if url}} href="{{url}}"{{/if}} class="btn btn-nextprev {{#if url}}btn-primary{{else}}btn-light{{/if}}" id="next-question-btn"{{#if url}}{{else}} disabled{{/if}}>Next{{#if pagename}}: {{pagename}}{{/if}} <i class="bi bi-arrow-right-circle"></i></a>
{{else}}
<a{{#if url}} href="{{url}}"{{/if}} class="btn btn-nextprev {{#if url}}btn-primary{{else}}btn-light{{/if}}" id="previous-question-btn"{{#if url}}{{else}} disabled{{/if}}><i class="bi bi-arrow-left-circle"></i> Previous{{#if pagename}}: {{pagename}}{{/if}}</a>
{{/if}}