{{#if next}}
  {{#if url}}
    <a href="{{url}}" class="btn btn-nextprev btn-primary" id="next-question-btn">Next{{#if pagename}}: {{pagename}}{{/if}} <i class="bi bi-arrow-right-circle"></i></a>
  {{else}}
    <a href="{{print_url}}" target="_blank" class="btn btn-primary"><i class="bi bi-printer"></i> Generate Business Plan</a>
  {{/if}}
{{else}}
  {{#if url}}
    <a href="{{url}}" class="btn btn-nextprev btn-primary" id="previous-question-btn"><i class="bi bi-arrow-left-circle"></i> Previous{{#if pagename}}: {{pagename}}{{/if}}</a>
  {{else}}
    &nbsp;
  {{/if}}
{{/if}}