<ul class="sidebar-nav" id="sidebar-nav">
  {{#each questions}}
  <li class="nav-item">
    <a class="nav-link {{current}}" href="{{permalink}}">
      <!--<i class="bi bi-grid"></i>-->
      <i class="fas {{classes}}" aria-hidden="true"></i>
      <span>{{counter}}. {{title}}</span>
    </a>
  </li><!-- End Dashboard Nav -->
  {{/each}}
</ul>